
/* All. */
* {
  font-family: "Century Gothic", Arial;
}

/* Title. */
div#header-bar h1 {
  font-weight: bold;
}


/* Draggable divs. */
div.draggable {
  cursor: pointer; /* IE */
  cursor: -webkit-grab;
  cursor: grab;
}

/* Header bar. */
div#header-bar {
  text-align: center;
}

/* Logo image. */
div img {
  height: 35px;
  position: absolute;
  top: 4px;
  right: 4px;
}

/* Footer bar. */
div#footer-bar {
  text-align: right;
  margin-top: 1em;
}

/* Footer bar buttons */
.container button {
  margin: .4em .2em;
  border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.container button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Check button in footer bar. */
button#check-button {
  background-color: #1f9134;
}

/* Check button hover. */
button#check-button:hover {
  background-color: #126020;
}

/* Reset button in footer bar. */
button#reset-button {
  background-color: #616161;
}

/* Reset button hover. */
button#reset-button:hover {
  background-color: #a0a0a0;
}

/* Restart button. */
button#restart-button {
  background-color: #168ac9;
}

/* Restart button hover. */
button#restart-button:hover {
  background-color: #0d4b6d;
}

/* The result div which is shown after checking answers. */
div#result {
  display: none;
}

/* The main container. */
div.container {
  border: 2px solid black;
  max-width: 830px;
  min-width: 660px;
}

div#equations > div {
  display: inline-block;
}


div.holder#holder1 {
  bottom: -.8em;
  position: relative;
  font-size: 75%;
}

div.holder#holder5 {
  top: -.8em;
  position: relative;
  font-size: 75%;
  min-height: 55px !important;
  min-width: 50px !important;
}


 .box {
  min-height: 30px;
  min-width: 40px;
  position: relative;
  cursor: grab;
  text-align: center;
  font-weight: bold;
}

.box:hover {
  color: grey;
}

.held {

}

.holder {
  min-height: 50px;
  min-width: 30px;
  margin-bottom: 10px;
  margin-left: -.3em;
  /* border: solid 2px black; */
  background-color: white;
  display: inline-block;
  vertical-align: top;
  background: transparent;
}

.hovered {
  border: dotted 2px black !important;
}

.invisible {
  display: none;
}

div#equation-2 .holder {
  border: solid 2px grey;
  margin-left: .1em;
  min-width: 65px;
  min-height: 85px;
  padding: 4px;
  border-radius: 2px;
  background-color: #ccc;
}

div#equations {
  text-align: center;
  font-size: 3em;
}

h4 {
  margin-bottom: 2.5em;
}

#equation-1, #equation-2 {
  display: inline-block;
  border: 1px solid black;
  height: 172px;
  width: 100%;
  border-radius: 2px;
}


#equation-2 {
  float: right;
}

#incorrect-info {
  color: #d83a3a;
  text-align: right;
  display: none;
  font-weight: bold;
  font-size: 15px;
}

#correct-info {
  display: none;
  font-size: 18px;
}

#correct-info p {
  margin: 0 .4em 0 .4em;
}
